.width-def {
    width: 322px;
}

.height-def {
    height: 46px;
}

.form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
    padding: 29px 0 0 0;
    width: 444px;
    height: 584px;
    background-color: var(--color2);
    border-radius: 1.5%;
}

.form:before {
    content: "";
    position: absolute;
    top: 29px;
    left: 0px;
    width: 18px;
    height: 18px;
    background-color: var(--color1);
}

.header-sign {
    display: flex;
    justify-content: space-between;
}

.header-sign h2 {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    color: var(--color3);
}

.header-sign a {
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    color: var(--color1);
}

.header-sign a:hover {
    text-decoration: underline;
    color: var(--color4);
}

.form-header-btn {
    margin-bottom: 33px;
    display: flex;
    justify-content: space-between;
}

/************************FaceBook button************************/
.form-header-facebook {
    position: relative;
    padding: 9px 0 0 47px;
    width: 157px;
    height: 46px;
    background-color: #305db8;
    border-radius: 5px;
    transition: background-color 300ms ease-in;
}

.form-header-facebook:hover {
    background-color: #264b96;
}

.facebook-btn {
    display: block;
    padding-left: 18px;
    padding-top: 7px;
    width: 92px;
    height: 28px;
    font-size: 16px;
    color: var(--color2);
    border-left: 1px solid #224387;
}

.icon-fb {
    position: absolute;
    top: 77px;
    left: 82px;
    width: 8px;
    height: 20px;
    overflow: hidden;
}

.icon-fb:before {
    position: absolute;
    top: 0px;
    left: 2px;
    z-index: 10;
    content: "";
    width: 6px;
    height: 20px;
    border: 3px solid var(--color2);
    border-radius: 4px;
}

.icon-fb:after {
    position: absolute;
    top: 7px;
    left: 0px;
    z-index: 10;
    content: "";
    width: 10px;
    height: 3px;
    background-color: var(--color2);
}

.form-header-facebook-a {
    text-decoration: none;
}


/************************Google button************************/
.form-header-google {
    position: relative;
    padding: 9px 0 0 47px;
    width: 157px;
    height: 46px;
    background-color: #df4a32;
    border-radius: 5px;
    transition: background-color 300ms ease-in;
}

.google-btn {
    position: relative;
    display: block;
    padding-left: 24px;
    padding-top: 7px;
    width: 92px;
    height: 28px;
    font-size: 16px;
    color: var(--color2);
    border-left: 1px solid #af3a28;
}

.form-header-google:hover {
    background-color: #c3412c;
}

.form-header-google:before {
    position: absolute;
    top: 14px;
    left: 13px;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 3px solid var(--color2);
    border-right: 3px solid transparent;
    border-bottom: 3px solid var(--color2);
    border-left: 3px solid var(--color2);
    border-radius: 200px;
}

.form-header-google:after {
    position: absolute;
    top: 21px;
    left: 21px;
    content: "";
    width: 4px;
    height: 3px;
    border-top: 3px solid var(--color2);
    border-right: 3px solid var(--color2);
    border-bottom: 3px solid var(--color2);
    border-radius: 0 0 6px 0;
}

.google-btn:after {
    position: absolute;
    top: 12px;
    left: -18px;
    content: "";
    width: 8px;
    height: 2px;
    background-color: var(--color2);
}

.google-btn:before {
    position: absolute;
    top: 9px;
    left: -15px;
    content: "";
    width: 2px;
    height: 8px;
    background-color: var(--color2);
}

.form-header-google-a {
    text-decoration: none;
}

/****************************Hr****************************/
.form-header-line {
    display: flex;
    justify-content: space-evenly;
}

.form-header-hr {
    width: 135px;
    height: 1px;
    background-color: #eaeaea;
    border: none;
}

.form-header-line span {
    margin: 0 18px;
    display: block;
}


/***********************Input styles***************************/

.form-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-item {
    margin-bottom: 9px;
    padding-left: 19px;
    font-size: 14px;
    color: #434343;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    transition: margin-bottom 100ms linear;

}

.form-item::placeholder {
    font-size: 14px;
    color: #bebebe;
    text-align: left;
}

.form-item:focus {
    margin-bottom: 17px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, .2);
}

.checkbox-container {
    margin-top: 9px;
    margin-bottom: 26px;
}

.checkbox-a {
    text-decoration: none;
    color: var(--color1);
}

.checkbox-a:hover {
    text-decoration: underline;
    color: var(--color4);
}

.form-item-button {
    margin-bottom: 13px;
    border: none;
    border-radius: 3px;
    color: var(--color2);
    background-color: var(--color1);
    transition: background-color 150ms;
}

.form-item-button:hover {
    background-color: var(--color4);
}

/*****************CheckBox*************/

.checkbox-label {
    position: relative;
    padding-left: 30px;
}

.form-item-checkbox {
    position: absolute;
    top: 0;
    left: 30px;
    visibility: hidden;
}

.checkbox-label:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
}

.form-item-checkbox:checked ~ .checkbox-checked:after{
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 9px;
    height: 4px;
    background-color: transparent;
    border-left: 4px solid var(--color1);
    border-bottom: 4px solid var(--color1);
    border-right: 0;
    border-top: 0;
    transform: rotate(314deg);

}