:root {
    --color1: #3cb878;
    --color2: #fff;
    --color3: #434343;
    --color4: #329a65;
}

.main {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/main-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    margin-bottom: 121px;
    padding: 15px 93px 0 152px;
    width: 100%;
    height: 56px;
    background-color: rgba(0, 0, 0, .5);
}

.header-h1-a {
    float: left;
    font-size: 20px;
    font-weight: 600;
    color: var(--color2);
    text-decoration: none;
    text-transform: uppercase;
    transition: color 400ms linear;
}

.header-h1-a:hover {
    color: var(--color4);
}

.header-nav {
    float: right;
    height: 35px;
    font-size: 14px;
    color: var(--color2);
}

.header-nav-item {
    display: inline-block;
}

.header-nav-li {
    display: inline-block;
    margin-right: 28px;
}

.header-nav-li:nth-child(4) {
    height: 20px;
    border-right: 1px solid #33302e;
}


.nav-calc-position {
    width: 20px;
    height: 20px;
    background-image: url("../images/icon-sprite.png");
    background-position: 0px 0px;
}

.nav-calc-position:hover {
    background-image: url("../images/icon-sprite.png");
    background-position: 0px 23px;
}

.nav-message-position {
    width: 28px;
    height: 20px;
    background-image: url("../images/icon-sprite.png");
    background-position: 50px 0px;
}

.nav-message-position:hover {
    background-image: url("../images/icon-sprite.png");
    background-position: 50px 23px;
}

.nav-compass-position {
    width: 20px;
    height: 20px;
    background-image: url("../images/icon-sprite.png");
    background-position: 21px 0px;
}

.nav-compass-position:hover {
    background-image: url("../images/icon-sprite.png");
    background-position: 21px 23px;
}

.header-nav-item-wel {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
}

.nav-log-in, .nav-sing-up {
    text-decoration: none;
    color: var(--color1);
}

.nav-log-in:hover, .nav-sing-up:hover {
    text-decoration: underline;
    color: var(--color4);
}


