.main {
    margin: 0 auto;
    padding-top: 49px;
    padding-left: 155px;
    width: 1366px;
    height: 1000px;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

/***************************Header Styles*******************************/
.header {
    margin-bottom: 48px;
    width: 1059px;
    height: 44px;
}

.header-title {
    float: left;
}

.header-title-name {
    padding-left: 61px;
    height: 44px;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    background-image: url("../images/logo_w.png");
    background-repeat: no-repeat;
    display: inline-block;
    transition: color 0.1s ease-in, background-image 0.1s ease-in;
}

.header-title-name:hover {
    background-image: url("../images/logo_or.png");
    color: #f26522;
}

.title-milan {
    margin-bottom: 4px;
    font-size: 26px;
    font-weight: 600;
}

.title-holidays {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    /*color: #fff;*/
}

.header-contacts {
    float: right;
}

.header-email {
    margin-bottom: 5px;
}

/***************************Gallery Styles*******************************/
.gallery {
    margin-bottom: 61px;
    height: 538px;
}

.gallery-item {
    float: left;
    width: 313px;
    height: 250px;
}

.gallery-item:nth-child(1),
.gallery-item:nth-child(2) {
    margin-right: 68px;
    margin-bottom: 53px;
}

.gallery-item:nth-child(3) {
    margin-bottom: 53px;
}

.gallery-item:nth-child(4),
.gallery-item:nth-child(5) {
    margin-right: 68px;
}

.gallery-gradient {
    position: relative;
    padding: 3px;
    margin-bottom: 20px;
    width: 313px;
    height: 203px;
    background-image: linear-gradient(to bottom, #FFFFFF, transparent 100%);
    overflow-y: hidden;
}

.gallery-item-img {
    width: 307px;
    height: 200px;
}

.gallery-img-details {
    padding-top: 16px;
    padding-left: 21px;
    padding-right: 40px;
    position: absolute;
    top: 203px;
    width: 307px;
    height: 63px;
    background-color: #f26522;
    transition: top 0.4s;
}

.details-euro {
    float: left;
    width: 38px;
    height: 30px;
    font-size: 10px;
}

.euro-span {
    display: inline-block;
    font-size: 20px;
    line-height: 1.5;
}

.details-view {
    position: relative;
    float: right;
    margin-top: 17px;
}

.details-view::after {
    position: absolute;
    top: 4px;
    right: -19px;
    content: "";
    width: 6px;
    height: 6px;
    background-color: transparent;
    border-right: 2px solid #f8b18f;
    border-top: 2px solid #f8b18f;
    transform: rotate(45deg);
}

.gallery-img-a {
    text-decoration: none;
    color: #FFFFFF;
}

.gallery-item:hover .gallery-img-details {
    top: 140px;
}

.img-title-a {
    margin: 0 auto;
    width: 163px;
    height: 20px;
    display: block;
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.img-title-a:hover{
    top: 140px;
    color: #f26522;
}


/***************************Footer Styles*******************************/
.footer {
    margin-bottom: 20px;
    width: 1059px;
    clear: both;
}

.copyright {
    width: 351px;
    height: 12px;
    margin: 0 auto;
    font-size: 12px;
}