* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    position: sticky;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
    top: 0;
    background: #FFFFFF;
}

nav {
    min-height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav h1, nav ul {
    font-size: 1.5rem;
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #000;
    text-decoration: none;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h1 {
    font-size: 5rem;
    color: #FFFFFF;
}

.home {
    background: linear-gradient(to right top, #f46b45, #eea849);
}

.project {
    background: linear-gradient(to right top, #005c97, #363795);
}

.contact {
    background: linear-gradient(to right top, #e53935, #e35d5b);
}

.bubble {
    position: absolute;
    z-index: -2;
    background: linear-gradient(to right top, #f46b45, #eea849);
    transform: scale(1.5);
    transition: all 0.5s ease;
}