@import "reset.css";
@import "../fonts/font.css";
@import "header.css";
@import "most-popular.css";
@import "our-most.css";
@import "top-rated.css";
@import "hot-news.css";
@import "footer.css";

body{
    font-size: 16px;
    font-family: "Open Sans", Courier, sans-serif;
}