.section-our-most{
    margin-bottom: 63px;
    width: 100%;
    height: 590px;
    background-image: url("../images/parallax-bg.jpeg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-most-grid{
    display: grid;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: 1fr 283px 211px 248px 217px 1fr;
    color: #222f3a;
}

.item2{
    grid-column: span 4;
    padding-top: 201px;
}

.item1,
.item3{
    grid-row: span 2;
}

.section-most-grid-h1{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.item4{
    padding-top: 57px;
}
.item5,
.item6,
.item7{
    padding-top: 46px;
}

.section-most-grid-h1:before{
    position: absolute;
    top: 84px;
    left: 450px;
    content: "";
    width: 60px;
    height: 3px;
    background-color: #18b4cf;
}