.section-top-rate {
    width: 100%;
    height: 320px;
    background-color: #fff;
}

.section-top-title {
    width: 100%;
    height: 73px;
    display: flex;
    justify-content: center;
}

.top-h1 {
    font-size: 27px;
    font-weight: 700;
    color: #4bcaff;
    text-transform: uppercase;
    text-align: center;
}

.section-top-rate-gallery {
    display: grid;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
    grid-auto-flow: dense;
}

.top-gallery-item {
    height: 190px;
}

.top-gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}