.section-amazing {
    position: relative;
    padding-top: 97px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1160px;
    background-color: var(--color6);
}

.ready-tabs {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    width: 655px;
}

.ready-tab {
    padding-left: 29px;
    padding-top: 24px;
    padding-right: 21px;
    height: 58px;
    color: var(--color7);
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #ebebeb;
    background-color: var(--color1);
    cursor: pointer;
    transition: color 0.2s ease-in;
}

.ready-tab:hover {
    color: var(--color2);
}

.ready-tab-active {
    box-shadow: 0 -3px 0 0 var(--color2);
    color: var(--color2);
}

.container-amazing-items {
    width: 1160px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 71px;
}

.amazing-item {
    display: none;
    position: relative;
}

.amazing-item-active {
    display: block;
}

.amazing-button {
    position: relative;
    display: block;
    margin-bottom: 100px;
    padding-left: 30px;
    width: 165px;
    height: 60px;
    background-color: var(--color2);
    border: none;
    border-radius: 6px;
    color: var(--color1);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

}

.amazing-button:before {
    content: "";
    width: 16px;
    height: 4px;
    position: absolute;
    top: 27px;
    left: 18px;
    background-color: var(--color1);
}

.amazing-button:after {
    content: "";
    width: 4px;
    height: 16px;
    position: absolute;
    top: 21px;
    left: 24px;
    background-color: var(--color1);
}

.item-hover {
    padding-top: 46px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 284px;
    height: 207px;
    border-top: 2px solid var(--color2);
    background-color: #f8fcfe;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.item-hover:hover {
    opacity: 1;
}

.search-item-container {
    margin-bottom: 34px;
    position: relative;
    width: 100px;
    display: flex;
    justify-content: center;
}

.item-chain,
.item-search{
    padding-top: 12px;
    padding-left: 12px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition-property: background-color, border;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.item-search {
    margin-right: 5px;
}

.item-search:hover,
.item-chain:hover{
    border: 1px solid var(--color1);
    background-color: var(--color2);
}

.item-search:hover > i,
.item-chain:hover > i {
    color:  var(--color1);
}

.item-chain,
.item-search{
    border: 1px solid var(--color2);
    background-color: var(--color1);
}

.creative {
    margin-bottom: 14px;
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.web {
    color: var(--color7);
    font-size: 12px;
    font-weight: 300;
}

.fa-search {
    font-size: 15px;
    color: var(--color2);

}

.fa-link {
    font-size: 15px;
    color: var(--color2);

}
