.section-category {
    margin-bottom: 86px;
    display: flex;
    justify-content: center;
    min-width: 1200px;
    height: 374px;
}

.category-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 374px;
}

.category-img{
    margin-bottom: 48px;
}
.category-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.category-item:nth-child(1),
.category-item:nth-child(3)
{
    color: var(--color2);
    background-color: var(--color5);
    border-top: 7px solid var(--color2);
}

.category-item:nth-child(2),
.category-item:nth-child(4)
{
    color: var(--color1);
    background-color: var(--color2);
    border-top: 7px solid var(--color1);
}
