.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1160px;
    height: 108px;
    background-color: #22353f;
}

.footer-h2{
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
}

.footer-h2-span{
    color: var(--color2);
}