@import "slick.css";
@import "header.css";
@import "reset.css";
@import "../fonts/fonts.css";
@import "category.css";
@import "ourservices.css";
@import "ready.css";
@import "amazing.css";
@import "news.css";
@import "peoplesay.css";
@import "slick-custom.css";
@import "masonry.css";
@import "footer.css";

:root {
    --color1: #fff;
    --color2: #18cfab;;
    --color3: #b7b7b7;
    --color4: #00cbf6;
    --color5: #1c2a33;
    --color6: #f8fcfe;
    --color7: #717171;
}

body {

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

a {
    display: inline-block;
    text-decoration: none;
}

.global-button {
    padding-top: 26px;
    width: 166px;
    height: 61px;
    background-color: var(--color2);
    border-radius: 6px;
    text-align: center;
    color: var(--color1);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 -5px 0 0 var(--color1);
    transition: background-color 0.3s ease-in;
}

.global-button:hover {
    background-color: var(--color4);
}

.global-title {
    position: relative;
    margin-bottom: 112px;
    width: 400px;
    height: 40px;
    text-align: center;
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
}

.global-title:before {
    content: "";
    position: absolute;
    top: 71px;
    left: 170px;
    width: 76px;
    height: 1px;
    background-color: var(--color2);
}

.global-title:after {
    content: "";
    position: absolute;
    top: 68px;
    left: 158px;
    width: 76px;
    height: 1px;
    background-color: var(--color2);
}