.display-inline-block {
    display: inline-block;;
}

.display-block {
    display: block;;
}

.section-header {
    position: relative;
    width: 100%;
    min-width: 1200px;
    height: 1012px;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

.header-nav {
    padding-top: 28px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: rgba(64, 63, 58, 0.6);

}

.header-title {
    padding-left: 68px;
    padding-top: 19px;
    height: 67px;
    position: relative;
    margin-right: 260px;
    font-size: 32px;
    font-weight: 300;
    background-image: url("../images/icons/Polygon_1.png");
    background-repeat: no-repeat;
}

.header-title::before {
    content: "H";
    position: absolute;
    top: 14px;
    left: 13px;
    font-size: 40px;
    color: var(--color1);
    font-weight: 700;
    text-transform: uppercase;
}

.header-logo {
    color: var(--color1);
}

.header-logo-span {
    font-size: 32px;
    font-weight: 700;
    color: var(--color2);
}

.header-menu-item {
    padding-top: 31px;
    position: relative;
    display: inline-block;
    margin-right: 25px;
    font-size: 13px;
    font-weight: 700;
}


.menu-search {
    width: 22px;
    height: 22px;
}

.header-menu-item a {
    height: 63px;
    color: var(--color3);
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition-property: color, border-bottom;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;

}

.header-menu-item a:hover {
    color: var(--color2);
    border-bottom: 2px solid var(--color2);

}

/*Css Title********************************************************/
.title {
    width: 100%;
    height: 1012px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-p-the-ham {
    margin-bottom: 45px;
    font-size: 35px;
    font-weight: 700;
    color: var(--color1);
    text-transform: uppercase;
}

.title-p-span {
    color: var(--color2);
}

.title-p-creative {
    margin-bottom: 36px;
    color: var(--color1);
    font-size: 79px;
    font-weight: 700;
    text-transform: uppercase;
}

.title-p-just-buy {
    margin-bottom: 146px;
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
}


.title-button-explore{
    margin-right: 28px;
}