.section-masonry {
    width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item {
    float: left;
    width: 370px;
    margin-bottom: 20px;
}

.grid-item--width2 {
    width: 370px;
}

.grid-item--height2 {
    height: 100%;
}

.masonry-img{
    width: 370px;
    height: 100%;
}