.section-news {
    margin-bottom: 100px;
    padding-top: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 1160px;
}

.news-container {
    width: 1160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item-container {
    margin-bottom: 45px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 263px;
    height: 280px;
    border: 1px solid #edf0f1;
    background-color: var(--color6);
    text-align: center;
}

.item-container:nth-child(1),
.item-container:nth-child(2),
.item-container:nth-child(3),
.item-container:nth-child(5),
.item-container:nth-child(6),
.item-container:nth-child(7) {
    margin-right: 28px;
}

.news-container-a:hover h3.news-title {
    color: var(--color2);
}

.news-container-a:hover span.news-data {
    background-color: var(--color2);
}

.news-data {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 66px;
    background-color: #203e38;
    color: var(--color1);
    font-size: 16px;
    font-weight: 400;
}

.news-data > span {
    margin-bottom: 10px;
}

.news-image {
    margin-bottom: 14px;
    width: 261px;
    height: 208px;
}

.news-title {
    margin-bottom: 14px;
    color: var(--color7);
    font-size: 18px;
    font-weight: 700;
}

.container-news-admin {
    color: var(--color7);
    font-size: 14px;
    font-weight: 300;
}

.news-admin {
    padding-right: 20px;
    border-right: 1px solid var(--color7);
}

.news-comments {
    padding-left: 20px;
}

.news-a-hover:hover {
    color: var(--color2);
}