.section-our-service {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 1160px;
    height: 560px;
}

.our-services-tabs {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;

}

.services-tab {
    position: relative;
    padding-top: 27px;
    width: 193px;
    height: 73px;
    border: 1px solid #ededee;
    background-color: #f8fcfe;
    text-align: center;
    color: var(--color7);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;

}

.services-tab-active {
    background-color: var(--color2);
    color: var(--color1);
}

.services-tab-active:after {
    position: absolute;
    top: 59px;
    left: 83px;
    content: "";
    width: 24px;
    height: 24px;
    background-color: var(--color2);
    transform: rotate(45deg);
}

.services-tabs-content {
    width: 1160px;
    height: 136px;
}

.services-tab-content {
    display: none;
    margin-bottom: 105px;

}

.services-tab-content-active{
    display: flex;
    justify-content: left;
}

.tabs-img {
    width: 194px;
    height: 139px;
    margin-right: 20px;
}

.tabs-p {
    color: var(--color7);
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    line-height: 1.4;
}