.section-people-say {
    margin-bottom: 100px;
    min-width: 1160px;
    height: 852px;
    background-image: url("../images/section-people.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.section-people-say-shadow {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.section-people-say-h1 {
    position: relative;
    margin-bottom: 105px;
    color: var(--color1);
    font-size: 36px;
    font-weight: 400;
}

.section-people-say-h1:before {
    content: "";
    position: absolute;
    top: 70px;
    left: 263px;
    width: 76px;
    height: 1px;
    background-color: var(--color2);
}

.section-people-say-h1:after {
    content: "";
    position: absolute;
    top: 67px;
    left: 248px;
    width: 76px;
    height: 1px;
    background-color: var(--color2);
}

.section-people-say-img {
    margin-bottom: 44px;
}

.slider-container {
    width: 1160px;
}

.slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1160px;
    text-align: center;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
}

.slider-item-p {
    margin-bottom: 43px;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
}

.slider-item-h2 {
    margin-bottom: 15px;
    color: var(--color2);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-item-h3 {
    margin-bottom: 37px;
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;

}

.slider-item-container {

    width: 143px;
    height: 142px;
    background-position: center;
    border: 3px solid var(--color2);
    border-radius: 100%;
}

/*********************Slider Pictures**********************************/
.slider-control-img1 {
    background-image: url("../images/small-face1.png");
}

.slider-control-img2 {
    background-image: url("../images/small-face2.png");
}

.slider-control-img3 {
    background-image: url("../images/small-face3.png");
}

.slider-control-img4 {
    background-image: url("../images/small-face4.png");
}

.slider-control-img5 {
    background-image: url("../images/small-face5.png");
}

/*********************Slider Control Pictures**********************************/
.slider-item-img1 {
    background-image: url("../images/face1.png");
}

.slider-item-img2 {
    background-image: url("../images/face2.png");
}

.slider-item-img3 {
    background-image: url("../images/face3.png");
}

.slider-item-img4 {
    background-image: url("../images/face4.png");
}

.slider-item-img5 {
    background-image: url("../images/face5.png");
}

.slider-item-shadow {
    margin-bottom: 70px;
    padding-top: 11px;
    width: 163px;
    height: 164px;
    background-color: rgba(31, 218, 181, 0.2);;
    border-radius: 100%;
}


.choose-main-container {

    margin: auto;
    width: 400px;
    height: 90px;
}

.slider-item {
    display: inline-block;
}

.choose-container {
    width: 60px;
    height: 59px;
    background-position: center;
    border-radius: 100%;
}
.choose-item{
    position: relative;
    top: 0;
}

.choose-item-shadow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 68px;
    background-color: rgba(31, 218, 181, 0.2);;
    border-radius: 100%;
}

