.section-ready {
    min-width: 1160px;
    height: 474px;
    background-image: url("../images/section-ready.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.section-ready-h1 {
    margin-bottom: 35px;
    color: var(--color2);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-ready-h2 {
    margin-bottom: 80px;
    color: #d8d8d8;
    font-size: 16px;
    font-weight: 400;
}
.section-ready-shadow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}