.footer {
    position: relative;
    padding-top: 13px;
    width: 100%;
    height: 55px;
    background-color: $color3;
    text-align: center;
    font-family: Montserrat;
    color: #fff;
    span {
      display: block;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
  
    img {
      display: none;
      position: absolute;
      top: 7px;
      left: 30px;
    }
  }