$color1: #373c3f;
$color2: #a6d6e0;
$color3: #acd8ad;
$color4: #3f4043;
$color5: #535457;

@import "reset.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";
@import "media.scss";


* {
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: "Lato", sans-serif;
}

.container {
  width: 100%;
}

.row {
  display: flex;
}

.justify-content {
  justify-content: center;
}

.align-items {
  align-items: center;
}

.flex-direction {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.block {
  display: block;
}
