.header {
  position: relative;
  width: 100%;
  height: 37px;
  background-color: $color1;
}

/***********************Menu************************************/
.active {
  display: flex !important;
}

.show {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  width: 41px;
  height: 37px;
  background-color: #202529;
  cursor: pointer;
  background-image: url(../img/global/close-bnt.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .nav-btn-line {
    display: none;
  }
}

.menu {
  position: absolute;
  right: 0;
  top: 37px;
  width: 182px;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #fafafa;
  font-size: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
}

.item-menu {
  padding: 14px 0 0 12px;
  height: 32px;
  border-bottom: 2px solid #e9e9e9;
  text-decoration: none;
  color: #444444;

  &:hover {
    background-color: #f5f5f5;
  }
}

.empty-item {
  width: 100%;
  height: 5px;
  background-color: #fafafa;
  border-bottom: 1px solid #e9e9e9;
}

.empty-item {
  width: 100%;
  height: 5px;
  background-color: #fafafa;
  border-bottom: 1px solid #e9e9e9;
}

.navigation {
  position: relative;
  width: 100%;
  justify-content: flex-start;
}

.nav-title {
  padding-top: 12px;
  padding-left: 19px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.nav-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  width: 41px;
  height: 37px;
  background-color: #202529;
  cursor: pointer;
}

.nav-btn-line {
  margin-bottom: 2px;
  width: 16px;
  height: 2px;
  background-color: #fff;
}

.logo-img {
  display: none;
  position: absolute;
  right: 3px;
  top: 8px;
}
