/*********************SECTION-PIZZA*************************/
.section-pizza {
  width: 100%;
  margin-bottom: 4px;
}
.section-pizza {
  padding: 19px 0 0 20px;
  height: 55vw;
  background-image: url(../img/global/header-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sec-pizza-h1 {
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;

  span {
    margin-bottom: 9px;
  }
}

.sec-pizza-a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #a6d6e0;
}

/*********************SECTION-PRODUCTS*************************/
.section-products {
  width: 100%;
  margin-bottom: 26px;
}

.item-product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  height: 75px;
}

.item-product-bg {
  width: calc(100% - 71px);
  height: 100%;
  padding: 27px 0 0 64px;
  background-position-y: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-arrow {
  position: relative;
  width: 71px;
  height: 100%;
  background-color: $color3;
  &:after {
    content: "";
    position: absolute;
    top: 45%;
    left: 45%;
    width: 6px;
    height: 6px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
  }
}

.delivery-bg {
  background-image: url(../img/320/Pizza_delivery320.png);
}

.salads-bg {
  background-image: url(../img/320/UX_Salads320.png);
}

.desserts-bg {
  background-image: url(../img/320/Desserts320.png);
}

.product-h2 {
  color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
}

/*********************SECTION-MAIN-MENU*************************/
.main-menu {
  width: 100%;
}

.main-menu-title {
  display: flex;
  justify-content: space-between;
}
.row-main-menu-title {
  margin-bottom: 10px;
  padding-left: 9px;

  span {
    font-size: 10px;
    font-weight: 400;
    color: #cbccce;
  }
}
.main-menu-h1 {
  font-size: 18px;
  font-weight: 400;
  color: #3f4043;
  text-transform: uppercase;
}

.menu-logo {
  display: none;
  width: 109px;
  height: 89px;
}

.menu-first {
  margin-bottom: 30px;
}

.menu-list {
  width: 100%;
}

.menu-title {
  padding-left: 19px;
  margin-bottom: 13px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 38px;
}

.first {
  color: #acd8ad;
  background: $color4;
}

.second {
  color: $color4;
  background-color: $color3;
}

.inner-menu-list {
  padding: 0 17px;
  margin-bottom: 17px;
}

.sub-title-container {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 25px;
  align-items: center;
}

.sub-title {
  font-size: 15px;
  text-transform: uppercase;
  color: $color4;
}

.dish {
  display: grid;
  grid-template-columns: 1fr 45px;
  grid-row-gap: 5px;
  margin-bottom: 10px;
}

.dish-name {
  font-size: 14px;
  color: $color4;
}

.dish-price {
  font-size: 15px;
  font-weight: 700;
  color: $color4;
  padding-left: 4px;
}

.dish-description {
  padding-top: 2px;
  grid-column: 1 / span 2;
  font-size: 9px;
  color: $color4;
  text-align: justify;
}

.fas {
  font-size: 25px;
  color: $color3;
}

