@media (min-width: 640px) {
  /***********************Header****************************/
  .header {
    height: 74px;
  }
  .menu {
    width: 214px;
    top: 74px;
  }
  .item-menu {
    height: 41px;
  }

  .nav-title {
    padding-top: 26px;
    padding-left: 38px;
    font-size: 24px;
  }

  .nav-btn {
    width: 83px;
    height: 74px;
  }

  .nav-btn-line {
    margin-bottom: 4px;
    width: 32px;
    height: 4px;
  }

  .show {
    width: 83px;
    height: 74px;
  }

  /***********************BIG PICTURE PIZZA****************************/
  .section-pizza {
    padding: 30px 0 0 38px;
  }
  .sec-pizza-h1 {
    margin-bottom: 12px;
    font-size: 32px;
  }

  .sec-pizza-a {
    font-size: 20px;
  }

  /***********************SECTION-PRODUCT****************************/
  .section-products {
    margin-bottom: 46px;
  }

  .item-product {
    height: 150px;
  }

  .item-product-bg {
    width: calc(100% - 142px);
    padding: 59px 0 0 135px;
  }
  .box-arrow {
    width: 142px;
    &:after {
      border-top: 3px solid #fff;
      border-right: 3px solid #fff;
      width: 10px;
      height: 10px;
    }
  }

  .delivery-bg {
    background-image: url(../img/640/Pizza_delivery640.png);
  }

  .salads-bg {
    background-image: url(../img/640/UX_Salads640.png);
  }

  .desserts-bg {
    background-image: url(../img/640/Desserts640.png);
  }

  .product-h2 {
    font-size: 36px;
  }

  /*********************SECTION-MAIN-MENU*************************/
  .row-main-menu-title {
    margin-bottom: 20px;
    padding-left: 21px;

    span {
      font-size: 20px;
      font-weight: 400;
      color: #cbccce;
    }
  }
  .main-menu-h1 {
    font-size: 40px;
    font-weight: 400;
    color: #3f4043;
    text-transform: uppercase;
  }

  .menu-first {
    margin-bottom: 38x;
  }
  .menu-title {
    padding-left: 38px;
    margin-bottom: 38px;
    font-size: 40px;
    line-height: 75px;
  }

  .inner-menu-list {
    padding: 0 39px;
    margin-bottom: 42px;
  }
  .sub-title-container {
    grid-template-columns: 1fr 55px;
    margin-bottom: 42px;
  }
  .sub-title {
    font-size: 30px;
  }
  .dish {
    grid-template-columns: 1fr 75px;
    margin-bottom: 16px;
  }
  .dish-name {
    font-size: 27px;
  }
  .dish-price {
    font-size: 27px;
  }

  .dish-description {
    padding-top: 11px;
    font-size: 17px;
  }

  .fas {
    font-size: 48px;
  }

  /***********************FOOTER****************************/
  .footer {
    padding-top: 28px;
    height: 97px;

    span {
      display: block;
      font-size: 18px;
      line-height: 26px;
      color: #fff;
    }
  }
}

@media (min-width: 980px) {
  /***********************HEADER****************************/
  .header {
    height: 97px;
  }
  .navigation {
    padding: 45px 0 0 30px;
  }
  .menu {
    position: static;
    width: 550px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: transparent;
    font-size: 15px;
    box-shadow: none;
  }

  .item-menu {
    padding: 0;
    height: 20px;
    border-bottom: none;
    text-decoration: none;
    color: #ebebeb;
    text-transform: uppercase;

    &:hover {
      background-color: transparent;
      color: #a6d6e0;
    }
  }

  .empty-item {
    display: none;
  }

  .nav-title {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .show {
    display: none;
  }

  .logo-img {
    display: block;
  }

  /***********************BIG PICTURE PIZZA****************************/
  .section-pizza {
    padding: 64px 0 0 30px;
  }
  .sec-pizza-h1 {
    margin-bottom: 48px;
    font-size: 50px;
  }

  .sec-pizza-a {
    font-size: 30px;
  }

  /***********************SECTION-PRODUCT****************************/
  .section-products {
    margin-bottom: 46px;
    display: flex;
  }

  .item-product {
    height: 327px;
    width: calc(100% / 3);
  }

  .item-product-bg {
    width: 100%;
    padding: 145px 0 0 0;
    text-align: center;
  }
  .box-arrow {
    display: none;
  }

  .delivery-bg {
    background-image: url(../img/980/Pizza_delivery980.png);
  }

  .salads-bg {
    background-image: url(../img/980/UX_Salads980.png);
  }

  .desserts-bg {
    background-image: url(../img/980/Desserts980.png);
  }

  .product-h2 {
    font-size: 38px;
  }

  /*********************SECTION-MAIN-MENU*************************/
  .row-container {
    display: flex;
  }
  .main-menu-title {
    margin-bottom: 20px;
    padding-left: 21px;

    span {
      font-size: 20px;
      font-weight: 400;
      color: #cbccce;
    }
  }
  .main-menu-h1 {
    font-size: 40px;
    font-weight: 400;
    color: #3f4043;
    text-transform: uppercase;
  }
  .menu-logo {
    display: block;
  }

  .menu-first,
  .menu-second {
    width: calc(100% / 2);
  }

  .menu-first {
    margin-bottom: 38x;
  }
  .menu-title {
    padding-left: 18px;
    margin-bottom: 38px;
    font-size: 40px;
    line-height: 75px;
  }

  .inner-menu-list {
    padding: 0 39px;
    margin-bottom: 42px;
  }
  .sub-title-container {
    grid-template-columns: 1fr 50px;
    margin-bottom: 42px;
  }
  .sub-title {
    font-size: 26px;
  }
  .dish {
    grid-template-columns: 1fr 70px;
  }
  .dish-name {
    font-size: 24px;
  }
  .dish-price {
    font-size: 24px;
  }

  .dish-description {
    padding-top: 0;
    font-size: 16px;
  }

  .fas {
    font-size: 48px;
    text-align: center;
  }

  /***********************FOOTER****************************/
  .footer {
    padding-top: 28px;
    padding-right: 30px;
    height: 97px;
    text-align: right;

    span {
      display: inline;
      font-size: 18px;
      line-height: 26px;
      color: #fff;
    }
    img {
      display: block;
    }
  }
}

@media (min-width: 1100px) {

  .show {
    display: none;
  }
  
  /***********************BIG PICTURE PIZZA****************************/
  .section-pizza {
    padding: 58px 0 0 37px;
  }

  .sec-pizza-h1 {
    margin-bottom: 48px;
    font-size: 62px;
  }

  .sec-pizza-a {
    font-size: 38px;
  }

  /***********************FOOTER****************************/
  .footer {
    padding-top: 28px;
    padding-right: 30px;
    height: 97px;
    text-align: right;

    span {
      display: inline;
      font-size: 18px;
      line-height: 26px;
      color: #fff;
    }
    img {
      display: block;
    }
  }
}
