ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 70px;
    height: 30px;
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.tabs-title.active {
    background-color: #937341;
    color: #23201D;
}

.tabs-content {
    position: relative;
}

.tabs-content-li {
    width: 600px;
    height: 300px;
    padding: 20px 0 0 20px;
    border: 2px solid #23201D;
    border-radius: 10px;
    background-color: #937341;
}

.del {
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 92px;
}

.hidden {
    display: none;
}