body{
    background-color: #000;
}

.star-wars-main{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    font-family: 'Pathway Gothic One', sans-serif;
    color: #feda4a;
    overflow: hidden;

}
.star-wars-perspective{
    position: relative;
    perspective: 400px;
    margin: 0 auto;
    width: 900px;
    height: 100%;
}

.star-wars-titles{
    position: absolute;
    top: 150px;
    font-weight: bolder;
    font-size: 40px;
    text-align:left;
    animation: star-wars--title 30s ease-in infinite;
}

.episode-title,
.episode-chapter{
    display: block;
    text-transform: uppercase;
    text-align: center;
    line-height: 2;
    margin: 1em auto;
}



@keyframes star-wars--title {
    0% {

        transform: perspective(900px) rotateX(30deg) translate(0,600px) scale(0.7);
    }
    100% {

        transform: perspective(900px) rotateX(40deg) translate(0,-1400px) scale(0.7);
    }
}