
body{
    margin: 0 auto;
    width: 1280px;
    background-color: #FFFFFF;

}
/*Navigation bar*/
.nav{
    display: block;
    font-family: "AdobeInvisFont","Roboto-Black","Courier"  ;
    font-size: 20px;
    font-weight: bolder;
    height: 81px;
    width: 800px;
    margin: 0 auto;
}
.nav li{
    display: inline-block;
    margin-left: 100px;
    margin-top: 32px;
}

.nav li a{
    color: #16A085;
    text-decoration: none;
}
.nav li a:hover{
    color: #16A015;

}

/*Div image*/
.image{
    width: 1280px;
    height: 790px;
    background-image: url("top-img@1X.png");

}
/*H1*/
h1{
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 22px;
    width: 600px;
    color: #373737;
    margin: 0 auto 34px;
    padding-top: 59px;
    text-transform: uppercase;
}
/*Text*/
.text{
    width: 1280px;
    margin: 0 auto;
    font-family: "Book Antiqua";
    font-size: 18px;
    color: #373737;
    text-align: justify;
    background-color: #F5F6F7;
}
.text p{
    width: 1060px;
    text-align: center;
    margin-left: 113px;
    margin-right: 54px;
    margin-bottom: 20px;
}
/*Button*/
button{
    width: 193px;
    height: 52px;
    font-family: "Malgun Gothic";
    font-size: 12px;
    color: #FFFFFF;
    background-color:#16A085;
    border-radius: 4%;
    border:0;
    margin: 41px 44% 94px 44%;
}
button:hover{
    background-color:#16A015;
}

/*footer*/
.footer{
    height: 108px;
}
.footer-p{
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    margin-left: 785px;
    margin-top: 50px;
}

