.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*align-items: flex-start;*/
    flex-flow: column;
}
.box {
    text-align: center;
    width: 100px;
    height:50px;
    margin: 0 5px;
}
.box-1 {
    align-self: flex-start;
    width:50px;
    background: #ff0000;
}
.box-2 {
    width:70px;
    background: #da2cab;
}
.box-3 {
    width:90px;
    background: #008000;
}
.box-4 {

    width: 50px;
    height: 60px;
    background: #0000ff;
}