@import "reset.css";
@import "../fonts/font.css";
@import "header.css";
@import "most-popular.css";
@import "our-most.css";
@import "top-rated.css";
@import "hot-news.css";
@import "footer.css";

body{
    position: relative;
    font-size: 16px;
    font-family: "Open Sans", Courier, sans-serif;
}

.scroll-btn{
    position: fixed;
    right: 50px;
    top: 80vh;
    width: 100px;
    height: 50px;
    border-radius: 20%;
    background-color: #2825be;
    color: #fff;
}