.section-header {
    width: 100%;
    height: 445px;
    background-color: #f2f2f2;
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #1d2124;
}

.header-logo {
    height: 70px;
    display: flex;
    justify-content: flex-start;
}

.header-img {
    position: relative;
    width: 68px;
    height: 70px;
    background-color: #171a1c;
}

.header-img:before {
    content: "";
    position: absolute;
    top: 21px;
    left: 21px;
    width: 27px;
    height: 27px;
    background-image: url("../images/logo-img.png");
}

.header-h1 {
    margin-top: 25px;
    padding-left: 6px;
    width: 170px;
    height: 30px;
    font-size: 22px;
    font-weight: 700;
}


.items-nav {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-item {
    margin-top: 30px;
    margin-right: 37px;
    display: inline-block;
}

.nav-item-a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
}

.header-search {
    position: relative;
    width: 68px;
    height: 70px;
    background-color: #171a1c;
}

.header-search:before {
    content: "";
    position: absolute;
    top: 25px;
    left: 25px;
    width: 17px;
    height: 17px;
    background-image: url("../images/search.png");
}

.header-main {
    padding-top: 127px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 375px;
    font-size: 27px;
    color: #FFFFFF;
    background-image: url("../images/header-bg.jpeg");
    background-attachment: fixed;
    background-position: 0 -543px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 610px;
    height: 120px;
}

.header-btn {
    width: 170px;
    height: 55px;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
}

.subscribe-btn {
    margin-right: 20px;
    background-color: #89ca62;
}

.best-btn{
    background-color: #14b9d5;
}
