.top-news-grid{
    display: grid;
    grid-template-columns: 1fr 554px 554px 1fr;
    grid-template-rows: 27px 259px 410px 410px 259px;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
}

.top-grid-item1{
    grid-column: span 4;
    align-content: center;
    font-size: 27px;
    font-weight: 700;
    color: #4bcaff;
    text-align: center;
    text-transform: uppercase;
}

.top-grid-item2,
.top-grid-item4{
    grid-row: span 5;
}

.top-grid-item3,
.top-grid-item9{
    grid-column: span 2;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.top-grid-item3-img {
    margin-right: 30px;
}

.top-container{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.top-container-width-slim{
    width: 320px;
    margin-right: 60px;
    padding-top: 30px;
}

.top-container-width-fat{
    padding-left: 22px;
    padding-right: 27px;
    padding-top: 20px;
    width: 100%;
}

.top-h2{
    font-size: 18px;
    color: #353a3d;
    font-weight: 700;
}

.top-h2-right{
    margin-bottom: 15px;
    align-self: center;
    justify-self: flex-end;
     text-align: right;
 }

.top-h2-center{
    text-align: center;
    margin: 0 auto;
}

.top-p{
    font-size: 14px;
    color: #5b6469;
    text-align: right;
    line-height: 1.4;
}

.top-item3-inside-img{
    margin-bottom: 19px;
}

.top-item9-img-inside{
    margin-right: 30px;
    margin-bottom: 13px;
}