.display-block{
    display: block;
}

.section-most-popular{
    padding-top: 55px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 1030px;
    background-color: #f2f2f2;
}
.section-most-h1{
    margin-bottom: 52px;
    align-self: center;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    color: #18b4cf;
    text-transform: uppercase;
}

.section-most-gallery{
    width: 1170px;
    align-self: center;
    display: flex;
    justify-content: space-between;
}
.gallery-column{
    flex-shrink: 2;
}


.gallery-item{
    margin-bottom: 53px;
}

.gallery-img{
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}

.gallery-img + span{
    font-size: 18px;
    color: #353a3d;
    text-align: center;
}
