.section-footer{
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 1fr 1170px 1fr;
    background-color: #1d2124;
}
.footer-grid-item2{
     position: relative;
     padding-top: 34px;
}

.footer-grid-item2:after{
    position: absolute;
    top: 29px;
    left: 1057px;
    content: "LIOIT";
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 38px;
    width: 100px;
    height: 24px;
    background-image: url("../images/footer-logo.png");
    background-repeat: no-repeat;
    background-position: 0 2px;
}

.footer-rights{
    font-size: 13px;
    color: #FFFFFF;
}