@import "reset.css";
@import "../fonts/font.css";
@import "header.css";
@import "most-popular.css";
@import "our-most.css";
@import "top-rated.css";
@import "hot-news.css";
@import "footer.css";


body{
    --color1: #f2f2f2;
    --color2: #171a1c;
    font-size: 16px;
    font-family: "Open Sans", Courier, sans-serif;
    background-color: var(--color2);
}