.section-header {
    width: 100%;
    height: 445px;
    background-color: #f2f2f2;
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #1d2124;
}

.header-logo {
    height: 70px;
    display: flex;
    justify-content: flex-start;
}

.header-img {
    position: relative;
    width: 68px;
    height: 70px;
    background-color: #171a1c;
}

.header-img:before {
    content: "";
    position: absolute;
    top: 21px;
    left: 21px;
    width: 27px;
    height: 27px;
    background-image: url("../images/logo-img.png");
}

.header-h1 {
    margin-top: 25px;
    padding-left: 6px;
    width: 170px;
    height: 30px;
    font-size: 22px;
    font-weight: 700;
}


.items-nav {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-item {
    margin-top: 30px;
    margin-right: 37px;
    display: inline-block;
}

.nav-item-a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
}

.header-search {
    position: relative;
    width: 68px;
    height: 70px;
    background-color: #171a1c;
}

.header-search:before {
    content: "";
    position: absolute;
    top: 25px;
    left: 25px;
    width: 17px;
    height: 17px;
    background-image: url("../images/search.png");
}

.header-main {
    padding-top: 127px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 375px;
    font-size: 27px;
    color: #FFFFFF;
    background-image: url("../images/header-bg.jpeg");
    background-color: var(--color2);
    background-attachment: fixed;
    background-position: 0 -543px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 610px;
    height: 120px;
}

.header-btn {
    width: 170px;
    height: 55px;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
}

.subscribe-btn {
    margin-right: 20px;
    background-color: #89ca62;
}

.best-btn{
    background-color: #14b9d5;
}
/************************************************************/

.span-check{
    display: inline-block;
}
.box_3{
    margin-top: 15px;
    background: #1d2124;
}

.toggle_switch{
    width: 80px;
    height: 40px;
    position: relative;
}

input[type="checkbox"].switch_3{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: 0;
    z-index: 1;
}

svg.checkbox .outer-ring{
    stroke-dasharray: 375;
    stroke-dashoffset: 375;
    -webkit-animation: resetRing .35s ease-in-out forwards;
    animation: resetRing .35s ease-in-out forwards;
}

input[type="checkbox"].switch_3:checked + svg.checkbox .outer-ring{
    -webkit-animation: animateRing .35s ease-in-out forwards;
    animation: animateRing .35s ease-in-out forwards;
}

input[type="checkbox"].switch_3:checked + svg.checkbox .is_checked{
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
}

input[type="checkbox"].switch_3:checked + svg.checkbox .is_unchecked{
    opacity: 0;
    -webkit-transform: translateX(-200%) rotate(180deg);
    transform: translateX(-200%) rotate(180deg);
}


svg.checkbox{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

svg.checkbox .is_checked{
    opacity: 0;
    fill: yellow;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translateX(200%) rotate(45deg);
    transform: translateX(200%) rotate(45deg);
    -webkit-transition: all .35s;
    transition: all .35s;
}

svg.checkbox .is_unchecked{
    opacity: 1;
    fill: #fff;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-transition: all .35s;
    transition: all .35s;
}

@-webkit-keyframes animateRing{
    to{
        stroke-dashoffset: 0;
        stroke: #b0aa28;
    }
}

@keyframes animateRing{
    to{
        stroke-dashoffset: 0;
        stroke: #b0aa28;
    }
}

@-webkit-keyframes resetRing{
    to{
        stroke-dashoffset: 0;
        stroke: #233043;
    }
}

@keyframes resetRing{
    to{
        stroke-dashoffset: 0;
        stroke: #233043;
    }
}