@import "Reset.css";

body {
    font-family: AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    font-size: 16px;

}




/*Global settings*/
.wrapper {
    width: 1280px;
    margin: 0 auto;
    padding-top: 61px;
}






/*Header settings*/
.header {
    height: 243px;

}

.header-title {
    font-size: 80px;
    margin-bottom: 45px;
}

.header-title-a {
    color: black;
    text-decoration: none;
}

.header-title-span {
    color: #4bcaff;
}

.header-nav {

    padding-left: 125px;
    height: 69px;
    font-size: 24px;
    background-color: #35444f;
}

.header-nav-menu {

    height: inherit;
}

.header-nav-menu-item {
    height: inherit;
    display: inline-block;
}

.header-nav-menu-item-a {
    padding-top: 26px;
    padding-left: 42px;
    padding-right: 42px;
    display: inline-block;
    height: inherit;
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #35444f;
}

.header-nav-menu-item-a:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}






/*Content nav settings*/
.content-nav-menu {
    float: left;
    width: 344px;
    height: 397px;
    border: 1px solid #35444f;
}

.content-nav-menu-item-a {
    padding-left: 42px;
    padding-top: 28px;
    display: inline-block;
    width: 342px;
    height: 79px;
    font-size: 28px;
    color: #495863;
    text-decoration: none;
    transition: padding-left 0.8s, background-color 0.5s;

}

.content-nav-menu-item-a:hover {
    background-color: #dbdbdb;
    padding-left: 69px;


}





/*Content main settings*/
.content-main-div {
    float: right;
    width: 885px;
}

.content-main-img {
    margin-bottom: 50px;
    display: inline-block;
    height: 529px;
    width: 885px;
    border: 1px solid #35444f;
}

.main-image {
    margin: 73px 282px;
    width: 320px;
    height: 381px;
    transition: width 0.4s, height 0.4s;
}
.main-image:hover{
    width: 360px;
    height: 420px;
}

.content-main-p {

    padding: 0 30px;
    font-size: 18px;
    color: #2c2c2c;
    text-align: justify;
}
.content-main-p-one{
    margin-bottom: 30px;
}
.content-main-p-second{
    margin-bottom: 51px;
}






/*Footer settings*/
.footer {
    margin-bottom: 50px;
    width: 1280px;
    height: 69px;
    font-size: 25px;
    color: #000;
    background-color: #b4b7ba;
    clear: both;
}
.footer-nav-menu{
    padding-left: 44px;
    padding-top: 22px;
}
.footer-nav-menu-item{

    display: inline-block;
}
.footer-nav-menu-item-a{
    height: 31px;
    margin-left: 10px;
    color: #000;
    text-decoration: none;
}
.footer-nav-menu-item-a:hover{
    padding-bottom: 2px;
    color: #3181a6;
    border-bottom: 1px solid #3181a6;

}

.footer-copy-right{
    margin-left: 218px;
}
