
.container {
    padding-top: 30px;
    padding-left: 5px;
    position: relative;
    width: 250px;
    height: 100px;
    background-color: #3a4965;
    font-size: 18px;
    color: var(--color1);
}

.borderGreen{
    border: 3px solid #16A015;
}

.borderRed{
    border: 3px solid #df3a46;
}

.borderDefault{
    border: 3px solid #F5F6F7;
}

.currentPrice {
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 20px;
    padding-top: 2px;
    padding-left: 3px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    position: absolute;
    top: 7px;
    left: 27px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.priceTitle {
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
    color: #fff;
}

.incorrectPrice {
    font-size: 14px;
    margin-top: 3px;
    margin-left: 71px;
    display: block;
    color: red;
}

.inputPrice {
    width: 100px;
}

.del{
    cursor: pointer;
}