@import "reset.css";
@import "../fonts/font.css";


body {
    background-color: #3a4965;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
}

.fa-archive,
.fa-cloud-upload-alt,
.fa-envelope,
.fa-life-ring,
.fa-cube,
.fa-users {
    font-size: 20px;
    margin-right: 12px;
    color: #848484;
}

.color-grey {
    background-color: #484848;
}

.color-lgreen {
    background-color: #89c331;
}

.color-red {
    background-color: #f04a56;
}

.color-green {
    background-color: #20807c;
}

/**************************************************************************/


.table-main {
    padding-top: 23px;
    width: 1150px;
    height: 700px;
    margin: 0 auto;
    text-align: center;
}

.table-th {
    width: 277px;
    height: 69px;
    padding-top: 27px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
}

.table-h1 {
    position: absolute;
    top: 54px;
    left: 40px;
    font-size: 18px;
    font-weight: 700;
    color: #484848;
}

.table-th-h1 {
    position: relative;
    width: 277px;
    height: 69px;
    padding-top: 27px;
}

.table-h1-span {
    padding-top: 5px;
    display: block;
    font-size: 30px;
}

.span-price {
    position: relative;
    font-size: 58px;
    font-weight: 700;
}

.span-coins {
    position: absolute;
    top: 10px;
    left: 104px;
    font-size: 24px;
}

.td-size-price {
    padding-top: 18px;
    width: 277px;
    height: 86px;
    color: #484848;
    box-shadow: -1px 0 6px -3px rgba(0, 0, 0, 0.2);
}

.td-size {
    padding-top: 29px;
    width: 277px;
    height: 69px;
    color: #484848;
    box-shadow: -1px 0 6px -3px rgba(0, 0, 0, 0.2);
}

.tr-bg-color:nth-child(odd) {
    background-color: #f2f2f2;
}

.tr-bg-color:nth-child(even) {
    background-color: #e3e3e3;
}

.tr-bg-color1 {
    background-color: #FFFFFF;
}

.td-border-rght {
    border-right: 1px solid #d4d4d4;
}

.td-border-left {
    border-left: 1px solid #d4d4d4;
}

.button {
    width: 192px;
    height: 49px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.btn-padding {
    padding-top: 30px;
    box-shadow: -1px 0 6px -3px rgba(0, 0, 0, 0.2);
}

.btn-border-color-grey {
    border-bottom: 8px solid #404040;
}

.btn-border-color-lgreen {
    border-bottom: 8px solid #79b027;
}

.btn-border-color-red {
    border-bottom: 8px solid #df3a46;
}

.btn-border-color-green {
    border-bottom: 8px solid #16736f;
}

.btn-hover {
    background-color: #eeeeee;
    transition: background-color 0.2s;
}

.btn-hover:hover {
    background-color: #dddddd;
}